In [1]:
import pyspark
import pandas as pd

In [2]:
df=pd.read_csv('C:\\Users\\Admin\\Desktop\\DataScience\\Datasets\\test1.csv')
df

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('Practise').getOrCreate

In [5]:
spark

In [6]:
df_spark=spark.read.csv('C:\\Users\\Admin\\Desktop\\DataScience\\Datasets\\test1.csv')

AttributeError: 'function' object has no attribute 'read'

In [ ]:
spark