In [2]:
## hyper parameter tuning  lets you choose a better model

In [22]:
import pandas as pd
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [23]:
d=pd.read_csv('C:\\Users\\Admin\\Desktop\\DataScience\\Datasets\\Social_Network_Ads.csv')
d.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [24]:
d.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [25]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [26]:
x=d.iloc[:,[2,3]]
y=d.iloc[:,4]

In [27]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [28]:
scala=StandardScaler()

In [29]:
X_train_scaled=scala.fit_transform(X_train)
X_test_scaled=scala.transform(X_test)

In [30]:
clf=SVC()

In [31]:
clf.fit(X_train_scaled,y_train)

SVC()

In [32]:
y_pred=clf.predict(X_test_scaled)

In [33]:
accuracy_score(y_test,y_pred)

0.93

In [34]:
grid={
    'C':[1,10,100,1000],
    'kernel':['rbf','linear'],
    'gamma':[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9]
}

In [35]:
grid_search_cv=GridSearchCV(SVC(),param_grid=grid,scoring='accuracy',n_jobs=-1)

In [36]:
grid_search_cv.fit(X_train_scaled,y_train)

GridSearchCV(estimator=SVC(), n_jobs=-1,
             param_grid={'C': [1, 10, 100, 1000],
                         'gamma': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
                         'kernel': ['rbf', 'linear']},
             scoring='accuracy')

In [37]:
 grid_search_cv.best_score_

0.9033333333333333

In [38]:
  grid_search_cv.best_params_

{'C': 1, 'gamma': 0.4, 'kernel': 'rbf'}

In [39]:
rdm_search_cv=RandomizedSearchCV(SVC(),param_distributions=grid,scoring='accuracy',n_jobs=-1)

In [40]:
rdm_search_cv.fit(X_train_scaled,y_train)

RandomizedSearchCV(estimator=SVC(), n_jobs=-1,
                   param_distributions={'C': [1, 10, 100, 1000],
                                        'gamma': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6,
                                                  0.7, 0.8, 0.9],
                                        'kernel': ['rbf', 'linear']},
                   scoring='accuracy')

In [41]:
rdm_search_cv.best_score_

0.9033333333333333

In [42]:
rdm_search_cv.best_params_

{'kernel': 'rbf', 'gamma': 0.5, 'C': 1}