In [1]:
import pandas as pd
import numpy as np
import nltk
from nltk import word_tokenize

In [3]:
review_1='the movie was good i loved it'
review_2='the movie was good but the ending was boring'
review_3='we did not like the movie to lenghty'

In [4]:
review_1_tokens=word_tokenize(review_1)
review_2_tokens=word_tokenize(review_2)
review_3_tokens=word_tokenize(review_3)
print(review_1_tokens)
print(review_2_tokens)
print(review_3_tokens)

['the', 'movie', 'was', 'good', 'i', 'loved', 'it']
['the', 'movie', 'was', 'good', 'but', 'the', 'ending', 'was', 'boring']
['we', 'did', 'not', 'like', 'the', 'movie', 'to', 'lenghty']

In [5]:
review_tokens=set(review_1_tokens).union(set(review_2_tokens)).union(set(review_3_tokens))
print(review_tokens)

{'movie', 'lenghty', 'good', 'to', 'did', 'ending', 'like', 'it', 'but', 'boring', 'i', 'the', 'loved', 'not', 'was', 'we'}

In [6]:
len(review_tokens)

16

In [7]:
review_dict=dict.fromkeys(review_tokens,0)

In [9]:
review_dict

{'movie': 0,
 'lenghty': 0,
 'good': 0,
 'to': 0,
 'did': 0,
 'ending': 0,
 'like': 0,
 'it': 0,
 'but': 0,
 'boring': 0,
 'i': 0,
 'the': 0,
 'loved': 0,
 'not': 0,
 'was': 0,
 'we': 0}

In [10]:
review1_dict=dict.fromkeys(review_tokens,0)
review2_dict=dict.fromkeys(review_tokens,0)
review3_dict=dict.fromkeys(review_tokens,0)
review1_dict

{'movie': 0,
 'lenghty': 0,
 'good': 0,
 'to': 0,
 'did': 0,
 'ending': 0,
 'like': 0,
 'it': 0,
 'but': 0,
 'boring': 0,
 'i': 0,
 'the': 0,
 'loved': 0,
 'not': 0,
 'was': 0,
 'we': 0}

In [12]:
for token in review_1_tokens:
    review1_dict[token]+=1

In [13]:
review1_dict

{'movie': 1,
 'lenghty': 0,
 'good': 1,
 'to': 0,
 'did': 0,
 'ending': 0,
 'like': 0,
 'it': 1,
 'but': 0,
 'boring': 0,
 'i': 1,
 'the': 1,
 'loved': 1,
 'not': 0,
 'was': 1,
 'we': 0}

In [15]:
for token in review_2_tokens:
    review2_dict[token]+=1
    
for token in review_3_tokens:
    review3_dict[token]+=1

In [16]:
review_dict_df=pd.DataFrame([review1_dict,review2_dict,review3_dict])

In [17]:
review_dict_df

,movie,lenghty,good,to,did,ending,like,it,but,boring,i,the,loved,not,was,we
0,1,0,1,0,0,0,0,1,0,0,1,1,1,0,1,0
1,2,0,2,0,0,2,0,0,2,2,0,4,0,0,4,0
2,1,1,0,1,1,0,1,0,0,0,0,1,0,1,0,1

In [18]:
from sklearn.feature_extraction.text import CountVectorizer

In [19]:
review_list=[review_1,review_2,review_3]
review_list

['the movie was good i loved it',
 'the movie was good but the ending was boring',
 'we did not like the movie to lenghty']

In [23]:
count_vect=CountVectorizer()
X_counts=count_vect.fit_transform(review_list)
X_counts.toarray()

array([[0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0],
       [1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 2, 0, 2, 0],
       [0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1]], dtype=int64)

In [24]:
type(X_counts)

scipy.sparse._csr.csr_matrix

In [26]:
x_names=count_vect.get_feature_names_out()
x_names

array(['boring', 'but', 'did', 'ending', 'good', 'it', 'lenghty', 'like',
       'loved', 'movie', 'not', 'the', 'to', 'was', 'we'], dtype=object)

In [28]:
a=pd.DataFrame(X_counts.toarray(),columns=x_names)

In [29]:
a

,boring,but,did,ending,good,it,lenghty,like,loved,movie,not,the,to,was,we
0,0,0,0,0,1,1,0,0,1,1,0,1,0,1,0
1,1,1,0,1,1,0,0,0,0,1,0,2,0,2,0
2,0,0,1,0,0,0,1,1,0,1,1,1,1,0,1

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [31]:
tf_vect=TfidfVectorizer(min_df=1,lowercase=True,stop_words='english')

In [32]:
tf_matrix=tf_vect.fit_transform(review_list)

In [33]:
type(tf_matrix)

scipy.sparse._csr.csr_matrix

In [34]:
tf_matrix.shape

(3, 8)

In [35]:
tf_names=tf_vect.get_feature_names_out()

In [36]:
tf_names

array(['boring', 'did', 'ending', 'good', 'lenghty', 'like', 'loved',
       'movie'], dtype=object)

In [38]:
tf_df=pd.DataFrame(tf_matrix.toarray(),columns=tf_names)

In [39]:
tf_df

,boring,did,ending,good,lenghty,like,loved,movie
0,0.000000,0.000000,0.000000,0.547832,0.000000,0.000000,0.720333,0.425441
1,0.584483,0.000000,0.584483,0.444514,0.000000,0.000000,0.000000,0.345205
2,0.000000,0.546454,0.000000,0.000000,0.546454,0.546454,0.000000,0.322745