In [2]:
## decision tree is a tree shaped daigram used to determine a course of action.each branch of the tree represents a possible decision,occureence or reaction

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [4]:
data=pd.read_csv('C:\\Users\\Admin\\Desktop\\DataScience\\Datasets\\Decision+Tree+Dataset.csv')

In [5]:
data.head()

   Initial payment  Last payment  Credit Score  House Number    sum Result
0              201         10018           250          3046  13515    yes
1              205         10016           395          3044  13660    yes
2              257         10129           109          3251  13746    yes
3              246         10064           324          3137  13771    yes
4              117         10115           496          3094  13822    yes

In [6]:
data.shape

(1000, 6)

In [7]:
x=data.values[:,0:4]
y=data.values[:,5]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1000)

In [9]:
clf_entropy=DecisionTreeClassifier(criterion='entropy',random_state=1000,max_depth=3,min_samples_leaf=5)

In [10]:
clf_entropy.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, min_samples_leaf=5,
                       random_state=1000)

In [15]:
X_train

array([[458, 11876, 128, 4452],
       [361, 10877, 688, 3655],
       [292, 10456, 552, 4304],
       ...,
       [128, 10630, 182, 4049],
       [261, 12346, 859, 4360],
       [462, 10854, 705, 4987]], dtype=object)

In [24]:
y_pred=clf_entropy.predict(X_test)
y_pred

array(['No', 'No', 'yes', 'yes', 'No', 'No', 'No', 'yes', 'No', 'No',
       'No', 'No', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'yes', 'No',
       'No', 'yes', 'No', 'yes', 'No', 'No', 'No', 'yes', 'yes', 'No',
       'No', 'No', 'yes', 'yes', 'No', 'yes', 'No', 'yes', 'No', 'yes',
       'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'yes', 'yes',
       'yes', 'yes', 'No', 'No', 'No', 'yes', 'yes', 'No', 'No', 'yes',
       'No', 'No', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'yes', 'No',
       'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'No', 'No', 'yes', 'yes',
       'yes', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'yes',
       'yes', 'No', 'No', 'yes', 'No', 'yes', 'No', 'yes', 'No', 'No',
       'yes', 'No', 'yes', 'No', 'No', 'No', 'yes', 'No', 'No', 'yes',
       'No', 'yes', 'yes', 'No', 'No', 'No', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'yes', 'yes', 'yes', 'No', 'No',
       'yes', 'yes', 'No', 'No', 'No', 'No', 'yes', 'No', 'No', 'No',
       'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'No', 'yes', 'yes',
       'yes', 'No', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'No',
       'yes', 'No', 'No', 'No', 'No', 'yes', 'No', 'yes', 'yes', 'yes',
       'yes', 'yes', 'No', 'yes', 'No', 'yes', 'No', 'yes', 'No', 'yes',
       'yes', 'No', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'No', 'yes',
       'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'yes',
       'yes', 'No', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No',
       'No', 'yes', 'yes', 'No', 'yes', 'No', 'yes', 'No', 'No', 'No',
       'yes', 'No', 'yes', 'No', 'No', 'No', 'yes', 'yes', 'yes', 'No',
       'yes', 'No', 'No', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'No',
       'No', 'yes', 'No', 'No', 'No', 'yes', 'No', 'No', 'yes', 'No',
       'No', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'yes',
       'yes', 'No', 'yes', 'No', 'No', 'No', 'No', 'No', 'yes', 'yes',
       'No', 'No', 'yes', 'No', 'No', 'yes', 'No', 'yes', 'yes', 'No',
       'yes', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'No', 'No', 'No'],
      dtype=object)

In [13]:
print('accuracy is' ,accuracy_score(y_test,y_pred)*100)

accuracy is 91.33333333333333